<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd  
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<!-- 直接使用spring_mvc.xml -->
    <import resource="classpath:services/services.xml"/>
    <import resource="classpath:spring-quartz.xml"/>
    <bean id= "propertiesReader" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">    
        <property name = "location">
               <value>classpath:datasource.properties</value> 
        </property>
        <property name="propertiesPersister">
            <bean class="com.wine.utils.DecryptPersist" />
        </property>
        <property name ="ignoreResourceNotFound" value="true"/>
    </bean>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" autowire="byName">
		<property name="basenames">
			<list> 
				<value>messages</value> 
			</list> 
		</property>
	</bean>
	
</beans>