<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wine.dao3.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.wine.model3.Task" >
    <id column="t_ID" property="id" jdbcType="VARCHAR" />
    <result column="t_CREATED" property="created" jdbcType="TIMESTAMP" />
    <result column="t_MODIFIED" property="modified" jdbcType="TIMESTAMP" />
    <result column="t_NAME" property="name" jdbcType="VARCHAR" />
    <result column="t_WORKER" property="worker" jdbcType="VARCHAR" />
    <result column="t_FLAG" property="flag" jdbcType="INTEGER" />
    <result column="t_DETAIL" property="detail" jdbcType="VARCHAR" />
    <result column="t_YEAR" property="year" jdbcType="VARCHAR" />
    <result column="t_MONTH" property="month" jdbcType="VARCHAR" />
    <result column="t_ONEITEMS" property="oneitems" jdbcType="INTEGER" />
    <result column="t_TWOITEMS" property="twoitems" jdbcType="INTEGER" />
    <result column="t_THREEITEMS" property="threeitems" jdbcType="INTEGER" />
    <result column="t_FOURITEMS" property="fouritems" jdbcType="INTEGER" />
    <result column="t_FIVEITEMS" property="fiveitems" jdbcType="INTEGER" />
    <result column="t_PERIOD" property="period" jdbcType="INTEGER" />
    <result column="t_COUNT" property="count" jdbcType="INTEGER" />
    <result column="t_WORKLOAD" property="workload" jdbcType="INTEGER" />
    <result column="t_UNITPRICE" property="unitprice" jdbcType="DECIMAL" />
    <result column="t_REAL_WORKLOAD" property="realWorkload" jdbcType="INTEGER" />
    <result column="t_DEADLINE" property="deadline" jdbcType="TIMESTAMP" />
    <result column="t_STATUS" property="status" jdbcType="INTEGER" />
    <result column="t_FEEDBACKTIME" property="feedbacktime" jdbcType="TIMESTAMP" />
    <result column="t_PURPOSE" property="purpose" jdbcType="VARCHAR" />
    <result column="t_CONFIRMTIME" property="confirmtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t.ID as t_ID, t.CREATED as t_CREATED, t.MODIFIED as t_MODIFIED, t.NAME as t_NAME, 
    t.WORKER as t_WORKER, t.FLAG as t_FLAG, t.DETAIL as t_DETAIL, t.YEAR as t_YEAR, t.MONTH as t_MONTH, 
    t.ONEITEMS as t_ONEITEMS, t.TWOITEMS as t_TWOITEMS, t.THREEITEMS as t_THREEITEMS, 
    t.FOURITEMS as t_FOURITEMS, t.FIVEITEMS as t_FIVEITEMS, t.PERIOD as t_PERIOD, t.COUNT as t_COUNT, 
    t.WORKLOAD as t_WORKLOAD, t.UNITPRICE as t_UNITPRICE, t.REAL_WORKLOAD as t_REAL_WORKLOAD, 
    t.DEADLINE as t_DEADLINE, t.STATUS as t_STATUS, t.FEEDBACKTIME as t_FEEDBACKTIME, 
    t.PURPOSE as t_PURPOSE, t.CONFIRMTIME as t_CONFIRMTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wine.model3.TaskCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from task t
    where t.ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from task
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wine.model3.TaskCriteria" >
    delete from task t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wine.model3.Task" >
    insert into task (ID, CREATED, MODIFIED, 
      NAME, WORKER, FLAG, 
      DETAIL, YEAR, MONTH, 
      ONEITEMS, TWOITEMS, THREEITEMS, 
      FOURITEMS, FIVEITEMS, PERIOD, 
      COUNT, WORKLOAD, UNITPRICE, 
      REAL_WORKLOAD, DEADLINE, STATUS, 
      FEEDBACKTIME, PURPOSE, CONFIRMTIME
      )
    values (#{id,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{worker,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{detail,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{month,jdbcType=VARCHAR}, 
      #{oneitems,jdbcType=INTEGER}, #{twoitems,jdbcType=INTEGER}, #{threeitems,jdbcType=INTEGER}, 
      #{fouritems,jdbcType=INTEGER}, #{fiveitems,jdbcType=INTEGER}, #{period,jdbcType=INTEGER}, 
      #{count,jdbcType=INTEGER}, #{workload,jdbcType=INTEGER}, #{unitprice,jdbcType=DECIMAL}, 
      #{realWorkload,jdbcType=INTEGER}, #{deadline,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{feedbacktime,jdbcType=TIMESTAMP}, #{purpose,jdbcType=VARCHAR}, #{confirmtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wine.model3.Task" >
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="modified != null" >
        MODIFIED,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="worker != null" >
        WORKER,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="detail != null" >
        DETAIL,
      </if>
      <if test="year != null" >
        YEAR,
      </if>
      <if test="month != null" >
        MONTH,
      </if>
      <if test="oneitems != null" >
        ONEITEMS,
      </if>
      <if test="twoitems != null" >
        TWOITEMS,
      </if>
      <if test="threeitems != null" >
        THREEITEMS,
      </if>
      <if test="fouritems != null" >
        FOURITEMS,
      </if>
      <if test="fiveitems != null" >
        FIVEITEMS,
      </if>
      <if test="period != null" >
        PERIOD,
      </if>
      <if test="count != null" >
        COUNT,
      </if>
      <if test="workload != null" >
        WORKLOAD,
      </if>
      <if test="unitprice != null" >
        UNITPRICE,
      </if>
      <if test="realWorkload != null" >
        REAL_WORKLOAD,
      </if>
      <if test="deadline != null" >
        DEADLINE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="feedbacktime != null" >
        FEEDBACKTIME,
      </if>
      <if test="purpose != null" >
        PURPOSE,
      </if>
      <if test="confirmtime != null" >
        CONFIRMTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="worker != null" >
        #{worker,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="oneitems != null" >
        #{oneitems,jdbcType=INTEGER},
      </if>
      <if test="twoitems != null" >
        #{twoitems,jdbcType=INTEGER},
      </if>
      <if test="threeitems != null" >
        #{threeitems,jdbcType=INTEGER},
      </if>
      <if test="fouritems != null" >
        #{fouritems,jdbcType=INTEGER},
      </if>
      <if test="fiveitems != null" >
        #{fiveitems,jdbcType=INTEGER},
      </if>
      <if test="period != null" >
        #{period,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="workload != null" >
        #{workload,jdbcType=INTEGER},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="realWorkload != null" >
        #{realWorkload,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="feedbacktime != null" >
        #{feedbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="confirmtime != null" >
        #{confirmtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wine.model3.TaskCriteria" resultType="java.lang.Integer" >
    select count(*) from task t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update task t
    <set >
      <if test="record.id != null" >
        t.ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        t.CREATED = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modified != null" >
        t.MODIFIED = #{record.modified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null" >
        t.NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.worker != null" >
        t.WORKER = #{record.worker,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        t.FLAG = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.detail != null" >
        t.DETAIL = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        t.YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null" >
        t.MONTH = #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.oneitems != null" >
        t.ONEITEMS = #{record.oneitems,jdbcType=INTEGER},
      </if>
      <if test="record.twoitems != null" >
        t.TWOITEMS = #{record.twoitems,jdbcType=INTEGER},
      </if>
      <if test="record.threeitems != null" >
        t.THREEITEMS = #{record.threeitems,jdbcType=INTEGER},
      </if>
      <if test="record.fouritems != null" >
        t.FOURITEMS = #{record.fouritems,jdbcType=INTEGER},
      </if>
      <if test="record.fiveitems != null" >
        t.FIVEITEMS = #{record.fiveitems,jdbcType=INTEGER},
      </if>
      <if test="record.period != null" >
        t.PERIOD = #{record.period,jdbcType=INTEGER},
      </if>
      <if test="record.count != null" >
        t.COUNT = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.workload != null" >
        t.WORKLOAD = #{record.workload,jdbcType=INTEGER},
      </if>
      <if test="record.unitprice != null" >
        t.UNITPRICE = #{record.unitprice,jdbcType=DECIMAL},
      </if>
      <if test="record.realWorkload != null" >
        t.REAL_WORKLOAD = #{record.realWorkload,jdbcType=INTEGER},
      </if>
      <if test="record.deadline != null" >
        t.DEADLINE = #{record.deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        t.STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.feedbacktime != null" >
        t.FEEDBACKTIME = #{record.feedbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.purpose != null" >
        t.PURPOSE = #{record.purpose,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmtime != null" >
        t.CONFIRMTIME = #{record.confirmtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update task t
    set t.ID = #{record.id,jdbcType=VARCHAR},
      t.CREATED = #{record.created,jdbcType=TIMESTAMP},
      t.MODIFIED = #{record.modified,jdbcType=TIMESTAMP},
      t.NAME = #{record.name,jdbcType=VARCHAR},
      t.WORKER = #{record.worker,jdbcType=VARCHAR},
      t.FLAG = #{record.flag,jdbcType=INTEGER},
      t.DETAIL = #{record.detail,jdbcType=VARCHAR},
      t.YEAR = #{record.year,jdbcType=VARCHAR},
      t.MONTH = #{record.month,jdbcType=VARCHAR},
      t.ONEITEMS = #{record.oneitems,jdbcType=INTEGER},
      t.TWOITEMS = #{record.twoitems,jdbcType=INTEGER},
      t.THREEITEMS = #{record.threeitems,jdbcType=INTEGER},
      t.FOURITEMS = #{record.fouritems,jdbcType=INTEGER},
      t.FIVEITEMS = #{record.fiveitems,jdbcType=INTEGER},
      t.PERIOD = #{record.period,jdbcType=INTEGER},
      t.COUNT = #{record.count,jdbcType=INTEGER},
      t.WORKLOAD = #{record.workload,jdbcType=INTEGER},
      t.UNITPRICE = #{record.unitprice,jdbcType=DECIMAL},
      t.REAL_WORKLOAD = #{record.realWorkload,jdbcType=INTEGER},
      t.DEADLINE = #{record.deadline,jdbcType=TIMESTAMP},
      t.STATUS = #{record.status,jdbcType=INTEGER},
      t.FEEDBACKTIME = #{record.feedbacktime,jdbcType=TIMESTAMP},
      t.PURPOSE = #{record.purpose,jdbcType=VARCHAR},
      t.CONFIRMTIME = #{record.confirmtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wine.model3.Task" >
    update task
    <set >
      <if test="created != null" >
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        MODIFIED = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="worker != null" >
        WORKER = #{worker,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        DETAIL = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        YEAR = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        MONTH = #{month,jdbcType=VARCHAR},
      </if>
      <if test="oneitems != null" >
        ONEITEMS = #{oneitems,jdbcType=INTEGER},
      </if>
      <if test="twoitems != null" >
        TWOITEMS = #{twoitems,jdbcType=INTEGER},
      </if>
      <if test="threeitems != null" >
        THREEITEMS = #{threeitems,jdbcType=INTEGER},
      </if>
      <if test="fouritems != null" >
        FOURITEMS = #{fouritems,jdbcType=INTEGER},
      </if>
      <if test="fiveitems != null" >
        FIVEITEMS = #{fiveitems,jdbcType=INTEGER},
      </if>
      <if test="period != null" >
        PERIOD = #{period,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        COUNT = #{count,jdbcType=INTEGER},
      </if>
      <if test="workload != null" >
        WORKLOAD = #{workload,jdbcType=INTEGER},
      </if>
      <if test="unitprice != null" >
        UNITPRICE = #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="realWorkload != null" >
        REAL_WORKLOAD = #{realWorkload,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        DEADLINE = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="feedbacktime != null" >
        FEEDBACKTIME = #{feedbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="purpose != null" >
        PURPOSE = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="confirmtime != null" >
        CONFIRMTIME = #{confirmtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wine.model3.Task" >
    update task
    set CREATED = #{created,jdbcType=TIMESTAMP},
      MODIFIED = #{modified,jdbcType=TIMESTAMP},
      NAME = #{name,jdbcType=VARCHAR},
      WORKER = #{worker,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=INTEGER},
      DETAIL = #{detail,jdbcType=VARCHAR},
      YEAR = #{year,jdbcType=VARCHAR},
      MONTH = #{month,jdbcType=VARCHAR},
      ONEITEMS = #{oneitems,jdbcType=INTEGER},
      TWOITEMS = #{twoitems,jdbcType=INTEGER},
      THREEITEMS = #{threeitems,jdbcType=INTEGER},
      FOURITEMS = #{fouritems,jdbcType=INTEGER},
      FIVEITEMS = #{fiveitems,jdbcType=INTEGER},
      PERIOD = #{period,jdbcType=INTEGER},
      COUNT = #{count,jdbcType=INTEGER},
      WORKLOAD = #{workload,jdbcType=INTEGER},
      UNITPRICE = #{unitprice,jdbcType=DECIMAL},
      REAL_WORKLOAD = #{realWorkload,jdbcType=INTEGER},
      DEADLINE = #{deadline,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER},
      FEEDBACKTIME = #{feedbacktime,jdbcType=TIMESTAMP},
      PURPOSE = #{purpose,jdbcType=VARCHAR},
      CONFIRMTIME = #{confirmtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>